@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=DM+Serif+Text:ital@0;1&family=Gideon+Roman&family=Lisu+Bosa:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

body {
  background: rgb(0, 11, 18);
}

::-webkit-scrollbar {
  @apply hidden;
}

@theme {
  --font-albert: "Albert Sans", sans-serif;
  --font-dm-serif: "DM Serif Text", serif;
  --font-gideon-roman: "Gideon Roman", serif;

  --color-dark: rgb(0, 11, 18);
  --color-green: #38D300
}

@layer base {
  body {
    font-family: var(--font-albert);
  }
}

@layer utilities {
  .font-dm-serif {
    font-family: var(--font-dm-serif);
  }

  .font-gideon-roman {
    font-family: var(--font-gideon-roman);
  }
}

/* Prevent white/yellow autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

/* Loader CSS */
.loader-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: white;
  border-radius: 50%;
  background-color: transparent;
  user-select: none;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: transparent;
  animation: loader-rotate 2s linear infinite;
  z-index: 0;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(90deg);
    box-shadow:
      0 10px 20px 0 #fff inset,
      0 20px 30px 0 #100719 inset,
      0 60px 60px 0 #05d25a inset;
  }

  50% {
    transform: rotate(270deg);
    box-shadow:
      0 10px 20px 0 #fff inset,
      0 20px 10px 0 #292325 inset,
      0 40px 60px 0 #017533 inset;
  }

  100% {
    transform: rotate(450deg);
    box-shadow:
      0 10px 20px 0 #fff inset,
      0 20px 30px 0 #11dc2f inset,
      0 60px 60px 0 #04a143 inset;
  }
}

.loader-letter {
  display: inline-block;
  opacity: 0.4;
  transform: translateY(0);
  animation: loader-letter-anim 2s infinite;
  z-index: 1;
  border-radius: 50ch;
  border: none;
}

.loader-letter:nth-child(1) {
  animation-delay: 0s;
}

.loader-letter:nth-child(2) {
  animation-delay: 0.1s;
}

.loader-letter:nth-child(3) {
  animation-delay: 0.2s;
}

.loader-letter:nth-child(4) {
  animation-delay: 0.3s;
}

.loader-letter:nth-child(5) {
  animation-delay: 0.4s;
}

.loader-letter:nth-child(6) {
  animation-delay: 0.5s;
}

.loader-letter:nth-child(7) {
  animation-delay: 0.6s;
}

.loader-letter:nth-child(8) {
  animation-delay: 0.7s;
}

.loader-letter:nth-child(9) {
  animation-delay: 0.8s;
}

.loader-letter:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes loader-letter-anim {

  0%,
  100% {
    opacity: 0.4;
    transform: translateY(0);
  }

  20% {
    opacity: 1;
    transform: scale(1.15);
  }

  40% {
    opacity: 0.7;
    transform: translateY(0);
  }
}